<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Task Details</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
                h1{
                    color:skyblue;
                }
            </style>
    </head>
    <body style="background-image: url({% static 'img6.jpg' %});">
        <center><h1>Task Details</h1></center>
            <div id="home" > 
         
                    <a href="http://192.168.2.64:9001/admin-home" class="btn btn-info" >Home</a>
                    <a href="http://192.168.2.64:9001/add_project" class="btn btn-info" >Add Project</a>
                    <a href="http://192.168.2.64:9001/AddTask" class="btn btn-info">Add Task</a>
                        
                  
                    <br style="clear: left" />
        
                </div>

        <form action="" method="POST" align="center">
            
           {% csrf_token %}
            Project Name : <input type="text" name="Projectname" id="" value="{{x9.Projectname}}" required><br><p></p>
            Task: <input type="text" name="Task" id="" required><br><p></p>
            Description: <input type="text" name="TaskDescription" id="" required><br><p></p>
            Starting Date: <input type="date" name="Starting_date" id="" required><br><p></p>
            Ending Date: <input type="date" name="Ending_date" id="" required><br><p></p>
          
            <input type="submit" name="" id="" value="Submit">

        </form>
        
    </body>
</html>                                                                                           