<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Add Project</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            h1{
                color:skyblue;
            }
        </style>

    </head>
    <body style="background-image: url({% static 'img6.jpg' %});" >
        
        
        <div >
            <center><h1> Project Name</h1></center> 
            <div id="home" > 
         
                    <a href="http://192.168.2.64:9001/admin-home" class="btn btn-info" >Home</a>
                    <a href="http://192.168.2.64:9001/add_project" class="btn btn-info" >Add project</a>
                    <a href="http://192.168.2.64:9001/AddTask" class="btn btn-info">Add task</a>
                        
                  
                    <br style="clear: left" />
        
                </div>

            <div class="form-group" align="center">
                <form action="" method="POST">
                        {% csrf_token %}
                    <h3>Project Name:</h3>
                    <input type="text" name="Projectname" id="" required><br><p></p>
                    <button type="submit" class="btn btn-info">Submit</button>
                </form>

            </div>

        </div>
    </body>
</html>