<!DOCTYPE html>
{% load staticfiles%}
<html>
    <head>
        <title>Home New Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
                div {
                        height: 40px;
                        width: 100%;
                    }
                    h1{
                        color:skyblue;
                    }
            
            
            </style>
    </head>
    <body style="background-image: url({% static 'img6.jpg' %});">

        <center><h1>Admin Home Page</h1></center>
        <div id="home" > 
         
            <a href="http://192.168.2.64:9001/admin-home" class="btn btn-info" >Home</a>
            <a href="http://192.168.2.64:9001/add_project" class="btn btn-info" >Add project</a>
            
            <a href="http://192.168.2.64:9001/AddTask" class="btn btn-info">Add task</a>
                
          
            <br style="clear: left" />

        </div>
        <form class="navbar-form navbar-left" role="search"  action="http://192.168.2.64:9001/search">
                
                    <input type="text"  placeholder="Search" name="Projectname1" required>
                
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <table class="table table-hover">
                    <thead class="thead-dark">
                            <tr>
                                <th scope="col" >Project Names</th>
                                <th scope="col">Actions</th>
                            </tr>
        
                    </thead>
                    <tbody>
                        {% for i in x1  %}
                        
                        <tr>
                           
                            <td>{{i.Projectname}}</td>
                            <td><button class="btn btn-light"><a href="http://192.168.2.64:9001/view_project/{{i.id}}" >View</a></button>
                            <button class="btn btn-light"><a href="http://192.168.2.64:9001/edit_project/{{i.id}}">Edit</a></button> 
                            <button class="btn btn-light"><a href="http://192.168.2.64:9001/delete_project/{{i.id}}">Delete</a></button> </td>
                            
                        </tr>
                        {% endfor %}
        
                        {% for i in b  %}
                        
                        <tr>
                           
                            <td>{{i.Projectname}}</td>
                            <td><a href="http://192.168.2.64:9001/view_project/{{i.id}}">View</a>
                            <a href="http://192.168.2.64:9001/edit_project/{{i.id}}">Edit</a>
                            <a href="http://192.168.2.64:9001/delete_project/{{i.id}}">Delete</a></td>
                            
                        </tr>
                        {% endfor %}
        
        
        
        
                    </tbody>
                    
        
        
                </table>
            

        <center><button class="btn btn-light btn-lg"><a href="http://192.168.2.64:9001/add_project">Add Project</a></button><br><p></p>
        
        </center>
     
    </body>
</html>