<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Project</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        

    </head>
    <body style="background-image: url({% static 'img6.jpg' %});">
        <center><h1>Project Name</h1></center>
            <div id="home" > 
         
                    <a href="http://192.168.2.64:9001/admin-home" class="btn btn-info" >Home</a>
                    <a href="http://192.168.2.64:9001/add_project" class="btn btn-info" >Add Project</a>
                    <a href="http://192.168.2.64:9001/AddTask" class="btn btn-info">Add Task</a>
                        
                  
                    <br style="clear: left" />
        
                </div>

        <br><p></p>
        <div class="container">
            <form action="" method="POST">

                {% csrf_token %}
              Project Name:
                <input type="text" name="Projectname" id="pname" value="{{x4.Projectname}}" required><br><p></p><br><p></p>
                <input type="submit" value="Submit" class="btn btn-success" >
            </form>
    </div>
       
    </body>
</html>