<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Project</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            h1{
                color: skyblue  ;
            }
        </style>
    
    </head>
    <body style="background-image: url({% static 'img6.jpg' %});">
        <center><h1>Task Details</h1></center>
        <div id="home" > 
         
                <a href="http://192.168.2.64:9001/admin-home" class="btn btn-info" >Home</a>
                <a href="http://192.168.2.64:9001/add_project" class="btn btn-info" >Add project</a>
                <a href="http://192.168.2.64:9001/AddTask" class="btn btn-info">Add task</a>
                    
              
                <br style="clear: left" />
    
            </div>

    <div class="container">
       <form action="" method="POST" align="center">

           {% csrf_token %}
        
           Task:
           <input type="text"  name="Task" id="mname" value="{{x11.Task}}" required><br><p></p>
           Description:
           <textarea name="TaskDescription" id="" cols="30" rows="10" required>{{x11.TaskDescription}}</textarea><br><p></p>
           Start Date:
           <input type="date" name="Starting_date" id="" value="{{x11.Starting_date}}"><br><p></p>
           End Date:
           <input type="date" name="Ending_date" id="" value="{{x11.Ending_date}}"><br><p></p>
         
           
          <input type="submit" value="Submit" class="btn btn-info" > 
       </form>
    </div>
       
    </body>
</html>