<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
            <title>Member Portal</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <style>
         body{
            background: url("E:\Project\New folder\CRUD_PROJECT_MANAGEMENT\CRUD6\static\img7.jpg")  no-repeat center;
            background-size: 3000px 1500px;
         }
         h1{
             color: palevioletred;
         }
         #one{
             background-color: skyblue;
         }
     
     </style>   

    </head>
    <body style="background-image: url({% static 'img6.jpg' %});">
            <a href="http://192.168.2.64:9001/admin-home" class="btn btn-info" >Home</a>
            <a href="http://192.168.2.64:9001/Assign_Member/{{y6.id}}" class="btn btn-info" >Previous page</a>
            
            
        
        <form action="" method="POST">
                {% csrf_token %}
    
        <table class="table table-hover">
            <thead class="thead-dark">
                <th>Member Name</th>
                <th>Designation</th>
                <th>Domain</th>
                
            </thead>
            <tbody>
                {% for i in mylist %}
                <tr>
                    <td><input type="checkbox" name="Membername" value="{{i.Membername}}">{{i.Membername}}</td>
                    <td>{{i.Designation}}</td>
                    <td>{{i.Domain}}</td>
                </tr>
                {% endfor %}
                
                </tbody>
                

        </table>
        <input type="submit" name="" id="" value="Assign" class="btn btn-info" onclick="myfunction()">
        </form>
      <script>
          function myfunction(){
              alert("Member has been changed")
          }
      
      </script>  
      
       
    </body>



</html>