<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
            <title>Add Member</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <style>
         body{
            background: url("E:\Project\New folder\CRUD_PROJECT_MANAGEMENT\CRUD6\static\img7.jpg")  no-repeat center;
            background-size: 3000px 1500px;
         }
         h1{
             color: palevioletred;
         }
         div.ex3 {
            scrollbar-track-color: palevioletred; 
            scrollbar-base-color: pink;
            height: 100px;
            width: 400px;  
            overflow-y: scroll;
         }
         button{
             background-color: pink;
         }
     
     </style>   

    </head>
    <body style="background-image: url({% static 'img7.jpg' %});">
        <center><h1>Member's Home Page</h1></center>
      
        <table class="table table-hover">
            
            <thead class="thead-dark">
                <tr>
                    <th>Task</th>
                    <th>Task Description</th>
                   
                    <th>Action's</th>
                </tr>
            </thead>
            {%for i in y1 %}
            
            <tr>
                <td>{{i.Task}}</td>
                <td><div class="ex3">{{i.TaskDescription}}</div></td>
                <td><button ><a href="http://192.168.2.64:9001/add_member/{{i.id}}">Add Member</a></button>
                    <button ><a href="http://192.168.2.64:9001/edit_member/{{i.id}}">Update</a></button></td>
                {%endfor%}
            </tr>
           
            
           
        </table>
        
        

    </body>



</html>