<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
            <title>Member Portal</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <style>
         body{
            background: url("E:\Project\New folder\CRUD_PROJECT_MANAGEMENT\CRUD6\static\img7.jpg")  no-repeat center;
            background-size: 3000px 1500px;
         }
         h1{
             color: palevioletred;
         }
         button{
             background-color: pink;
         }
     </style>   

    </head>
    <body style="background-image: url({% static 'img7.jpg' %});">
        <center><h1>Member's Home Page</h1></center>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Member's Name</th>
                    <th>Action's</th>
                </tr>
            </thead>
            {%for i in y1 %}
            <tr>
                <td>{{i.Membername}}</td>
                <td><button><a href="http://192.168.2.64:9001/view_member/{{i.id}}">View</a></button></td>
            </tr>
            {%endfor%}
        </table>
        

    </body>



</html>