<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Task Details</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
                h1{
                    color:skyblue;
                }
            </style>
    </head>
    <body style="background-image: url({% static 'img6.jpg' %});">
        <center><h1>Task Details</h1></center>
            <div id="home" > 
         
                    <a href="http://192.168.2.64:9001/admin-home" class="btn btn-info" >Home</a>
                    <a href="http://192.168.2.64:9001/view_project/{{x9.id}}" class="btn btn-info" >Previous page</a>
                   
                        
                  
                    <br style="clear: left" />
        
                </div>

        <form action="" method="POST" >
            
           {% csrf_token %}
            <input hidden type="text" name="Projectname" value="{{x9.Projectname}}"><br><p></p>
                
               
            Member Name: <input type="text" name="Membername" id="" required>
            Designation:<input type="text" name="Designation" id="" required>
            Domain: <input type="text" name="Domain" id="" required>
          
            <input type="submit" name="" id="" value="Submit" class="btn btn-info">

        </form>
        <br><p></p>
        <table class="table table-hover">
            <thead class="thead-dark">
                <th>Member Name</th>
                <th>Designation</th>
                <th>Domain</th>
                <th>Action's</th>
            </thead>
            <tbody>
                {% for i in x10 %}
                <tr>
                    <td>{{i.Membername}}</td>
                    <td>{{i.Designation}}</td>
                    <td>{{i.Domain}}</td>
                    <td><button class="btn btn-light"><a href="http://192.168.2.64:9001/Update_Member/{{i.id}}">Update</a></button >
                                                                                                                                
                        <button class="btn btn-light"><a href="http://192.168.2.64:9001/Delete_Member/{{i.id}}">Delete</a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </body>
</html>                                                                                           