<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Testing Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
            body{
            background: url("E:\Project\New folder\CRUD_PROJECT_MANAGEMENT\CRUD6\static\img9.jpg")  no-repeat center;
            background-size: 1500px 1500px;
         }
         div {
                        height: 40px;
                        width: 100%;
                    }
                    
                    div.ex3 {
            scrollbar-track-color: palevioletred; 
            scrollbar-base-color: pink;
            height: 100px;
            width: 400px;  
            overflow-y: scroll;
         }
        </style>
    </head>
    <body style="background-image: url({% static 'img9.jpg' %});">
        
        <div id="home" > 
         
            <a href="http://192.168.2.64:9001/tester_home" class="btn btn-secondary" >Home</a>
            <a href="http://192.168.2.64:9001/test_completed" class="btn btn-secondary" >Completed Task's</a>
                         
          
            <br style="clear: left" />

        </div>
        
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Task</th>
                    <th>Task Description</th>
                    <th>Issues</th>
                    <th>Status</th>
                </tr>
            </thead>
            
                {%for i in z6%}
            
           
                <tr>
                
            
                    <td>{{i.Task}}</td>
                    <td><div class="ex3">{{i.TaskDescription}}</div></td>
                    <td>{{i.DebugDescription}}</td>
                    <td>{{i.Testing_Status}}</td>

                   
                    
                       
                    
               
           
                </tr>
                {% endfor%}
           
           
        </table>
        
    </body>



</html>
