<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Home View Status</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
                div {
                        height: 40px;
                        width: 100%;
                    }
            
                    div.ex3 {
            scrollbar-track-color: palevioletred; 
            scrollbar-base-color: pink;
            height: 100px;
            width: 400px;  
            overflow-y: scroll;
         }
         h1{
             color: skyblue;
         }
            
            </style>

    </head>
    <body style="background-image: url({% static 'img6.jpg' %});">
        <center><h1>Project Name : {{x14.Projectname}}</h1></center>
        <div id="home" > 
         
                <a href="http://192.168.2.64:9001/admin-home" class="btn btn-info" >Home</a>
                <a href="http://192.168.2.64:9001/add_project" class="btn btn-info" >Add project</a>
                <a href="http://192.168.2.64:9001/AddTask" class="btn btn-info">Add task</a>
                
              
                <br style="clear: left" />
    
            </div>

        <table class="table table-hover ">
                
                
            <thead class="thead-dark">
                <tr>
                    
                    <th>Task</th>
                    <th>Task Description</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Member Name</th>
                    <th> Task Status</th>
                    <th>Task Status Description</th>
                    <th>Testing Status</th>
                    <th>Issues </th>
                    
                </tr>
                
            </thead>
            <tbody>
                {% for i in x15 %}
                <tr>
                    
                    <td>{{i.Task}}</td>
                    <td><div class="ex3">{{i.TaskDescription}}</div></td>
                    <td>{{i.Starting_date}}</td>
                    <td>{{i.Ending_date}}</td>
                    <td>{{i.Membername}}</td>

                    <td> <b>{{i.Status}}</b>  </td>
                    <td>{{i.StatusDescription}} </td>
                    <td><b>{{i.Testing_Status}}</b> </td>
                    <td>{{i.DebugDescription}}</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>



    </body>
</html> 