<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
            <title>Add Member</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <style>
         body{
            background: url("E:\Project\New folder\CRUD_PROJECT_MANAGEMENT\CRUD6\static\img7.jpg")  no-repeat center;
            background-size: 3000px 1500px;
         }
         h1{
             color: skyblue;
         }
        
     
     </style>   

    </head>
    <body style="background-image: url({% static 'img6.jpg' %});" >
       <center><h1>Member Detail</h1></center><br><p></p>
       <p></p>
       <form method="POST" align="center">
            {% csrf_token %}
            Member Name : <input type="text" name="Membername" value="{{d3.Membername}}"><br><p></p>
            Designation:    <input type="text" name="Designation" value="{{d3.Designation}}"><br><p></p>
            Domain : <input type="text" name="Domain" value="{{d3.Domain}}"><br><p></p>
            <input type="submit" class="btn btn-info" value="Submit" >

       </form>
        

    </body>



</html>