<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Testing Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
            body{
            background: url("E:\Project\New folder\CRUD_PROJECT_MANAGEMENT\CRUD6\static\img9.jpg")  no-repeat center;
            background-size: 1500px 1500px;
         }
         div {
                        height: 40px;
                        width: 100%;
                    }
        
                    div.ex3 {
            scrollbar-track-color: palevioletred; 
            scrollbar-base-color: pink;
            height: 100px;
            width: 400px;  
            overflow-y: scroll;
         }
         textarea{
            overflow-y: scroll;
            height:100px;
         }
        </style>

    </head>
    <body style="background-image: url({% static 'img9.jpg' %});">
        <h1>Project Name:{{z3.Projectname}}</h1>
        <div id="home" > 
         
            <a href="http://127.0.0.1:8000/tester_home" class="btn btn-secondary" >Home</a>
            <a href="http://127.0.0.1:8000/test_completed" class="btn btn-secondary" >Completed Task</a>
                         
          
            <br style="clear: left" />

        </div>
        
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Task</th>
                    <th>Task Description</th>
                    <th>Issues</th>
                    <th>Status</th>
                </tr>
            </thead>
            
                {%for i in z3%}
            
           
                <tr>
                
            
                    <td>{{i.Task}}</td>
                    <td><div class="ex3">{{i.TaskDescription}}</div></td>
                   
                    <form action="" method="POST">
                        {% csrf_token %}
                        <td><textarea name="DebugDescription" id="" cols="30" rows="10" required >{{i.DebugDescription}}</textarea></td>
                        <td><select name="Testing_Status" id="" > 
                        <option value="{{i.Testing_Status}}" name="Testing_Status">{{i.Testing_Status}}</option>
                        <option value="Completed" name="Testing_Status">Completed</option>
                        <option value="In Progress" name="Testing_Status">In Progress</option>
                        <option value="Not Completed" name="Testing_Status">In Completed</option>
                        </select>
                        <input type="submit"  class="btn btn-success" name="" id=""></td>
                        
                        
                        
                        </form>
                    
                    
               
           
                </tr>
                {% endfor%}
                
            </form>
           
        </table>
        
        
    </body>



</html>
