<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Home View</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
                div {
                        height: 40px;
                        width: 100%;
                    }
            
                    div.ex3 {
            scrollbar-track-color: palevioletred; 
            scrollbar-base-color: pink;
            height: 100px;
            width: 400px;  
            overflow-y: scroll;
         }
         h1{
             color: skyblue;
         }
            
            </style>

    </head>
    <body style="background-image: url({% static 'img6.jpg' %});">
        <center><h1>Project Name : {{x7.Projectname}}</h1></center>
        <div id="home" > 
         
                <a href="http://192.168.2.64:9001/admin-home" class="btn btn-info" >Home</a>
                <a href="http://192.168.2.64:9001/AddMember/{{x7.id}}" class="btn btn-info">Add Member</a>
                <a href="http://192.168.2.64:9001/Assign_Member/{{x7.id}}" class="btn btn-info">Assign Member</a>
                <a href="http://192.168.2.64:9001/AddTask" class="btn btn-info">Add task</a>
                <a href="http://192.168.2.64:9001/track_task/{{x7.id}}" class="btn btn-info">Task status</a>
                 
              
                <br style="clear: left" />
    
            </div>
        <table class="table table-hover ">
               
            <thead class="thead-dark">
                <tr>
                    <th style="display: none;">Project Name</th>
                    <th>Task Name</th>
                    <th>Description</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Action's</th>
                </tr>
                
            </thead>
            <tbody>
                {% for i in x6 %}
                <tr>
                    <td style="display: none;">{{x7.projectname}}</td>
                    <td>{{i.Task}}</td>
                    <td><div class="ex3">{{i.TaskDescription}}</div></td>
                    <td>{{i.Starting_date}}</td>
                    <td>{{i.Ending_date}}</td>
                    

                    <td>
                        <button class="btn btn-light"><a href="http://192.168.2.64:9001/edit_task/{{i.id}}">Edit</a></button> 
                        <button class="btn btn-light"><a href="http://192.168.2.64:9001/delete_task/{{i.id}}">Delete</a></button> 
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        <center><button class="btn btn-light"><a href="http://192.168.2.64:9001/add_task/{{x7.id}}">Add Task</a></button></center>



    </body>
</html> 