<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
            <title>Member Portal</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <style>
         body{
            background: url("E:/Project/New folder/CRUD_PROJECT_MANAGEMENT/CRUD6/static/img7.jpg")  no-repeat center;
            background-size: 3000px 1500px;
         }
         h1{
             color: palevioletred;
         }
         div.ex3 {
            scrollbar-track-color: palevioletred; 
            scrollbar-base-color: pink;
            height: 100px;
            width: 500px;  
            overflow-y: scroll;
         }
         #demo{
             background-color:pink;
         }
         textarea{
            overflow-y: scroll;
            height:100px;
         }
     
     </style>   

    </head>
    <body style="background-image: url({% static 'img7.jpg' %});">
        <h1>Project Name :{{y2.Projectname}}</h1>
        <h1>Member Name: {{y2.Membername}}</h1>
        
        <a href="http://192.168.2.64:9001/member_home" class="btn btn-danger" >Home</a>
        <table class="table table-hover">
                
            <thead class="thead-dark">
                <tr>
                    <th style="display: none;">Project Name</th>
                    <th>Task</th>
                    <th>Task Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Status Description</th>
                </tr>
            </thead>
            {%for i in y3%}      
            <tr>
                <td style="display: none;">{{i.Projectname}}</td>
                <td>{{i.Task}}</td>
                <td><div class="ex3">{{i.TaskDescription}}</div></td>
                <td>{{i.Starting_date}}</td>
                <td>{{i.Ending_date}}</td>
                <form action="" method="POST">
                    {% csrf_token %}
                    <td><select name="Status" id="" >
                    <option value="{{i.Status}}" name="Status">{{i.Status}}</option>
                    <option value="Completed" name="Status">Completed</option>
                    <option value="In Progress" name="Status">In Progress</option>
                    <option value="Not Completed" name="Status">In Completed</option>
                    </select></td>
                    <td><textarea name="StatusDescription" id="" cols="30" rows="10">{{i.StatusDescription}}</textarea><input type="submit"  class="btn btn-success" name="" id="" onclick="myfunction()"></td>
                    
                    
                    </form>

            </tr>
            {%endfor%}
            
            
            
            
            
        </table>
       
       <script>
           function myfunction(){
               alert("Task has been completed")
           }
       </script> 

    </body>



</html>